{%extends "base.html"%}
{% block head_title %}Settle{%endblock%}


{% block content %}

<div>

    <h1>
        {% if settle.state == "PC" %}
            {{my_settle_tr.get_state_display}}
        {% else %}
            {{settle.get_state_display}}
        {% endif %}
    </h1>

    <h3>
    Total: $ {{my_settle_tr.cal_total}}

    {% if my_settle_tr.state == 'UP'%}
        <a href="{% url 'settle:pay' settle.pk %}" class="btn">I've Paid</a>
    {% endif %}
    </h3>

    <h6 >
        <span class="fade">
            {{settle.get_state_display}}
        </span>
        {%if settle.msg %}
           | By {{settle.initiate_user}} on {{settle.start_date}}
        {% endif %}
    </h6>
    
    <h5>{{settle.msg}}</h5>

    {% if unpaid_list %}
        {# all the user can see unpaid list if there is one #}
        <h3>Waiting Transaction</h3>
        <table class="striped">
            <tr>
                <th>Name</th>
                <th>Bill Name</th>
                <th>Amount</th>
            </tr>
            {%for tr in unpaid_list %}
                <tr>
                    <td>{{ tr.from_user }}</td>
                    <td>
                        <a href="{% url 'bills:detail' tr.bill.id%}">
                            {{ tr.bill.title}}
                        </a>
                    </td>
                    <td>{{tr.amount}}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif%}

</div>
<br>
<a href="{% url 'settle:index'%}" class="btn">Back to Settlement</a>
{% include "settle/part/detail-statement.html"%}


{% endblock %}
