{% load static%}
<div class="footer-placeholder"></div>
<footer class="page-footer footer-bottom">
    <div class="footer-copyright ">
        <div class="container">
            © 2018 Tecty. All Rights Reserved
            <a class="grey-text text-lighten-4 right" href="http://github.com/tecty/whiteboard">Github</a>
        </div>
    </div>
</footer>
{# import materlizecss's js#}
<script type="text/javascript" src="{% static 'js/jquery.min.js'%}"></script>
<script type="text/javascript" src="{% static 'js/materialize.min.js'%}"></script>

